[worldserver]

###################################################################################################
#
#    WorldChat.Enable
#        Description: Enable WorldChat
#        Default:     1	- (Enabled)
#                     0	- (Disabled)

WorldChat.Enable = 1

#   WorldChat.Announce
#        Description: Announce Module
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

WorldChat.Announce = 1

#
#    WorldChat.ChannelName
#        Description: WorldChat Name
#        Default:     "World"
#

WorldChat.ChannelName = "World"

#
#    WorldChat.FactionSpecific
#        Description: Enable faction specific WorldChat
#        Default:     0	- (Disabled)
#                     1	- (Enabled)
#

WorldChat.FactionSpecific = 0

#
#    WorldChat.OnFirstLogin
#        Description: Enable WorldChat by default on first character login
#        Default:     1	- (Enabled)
#                     0	- (Disabled)
#

WorldChat.OnFirstLogin = 1

#
#    WorldChat.PlayTimeToChat
#        Description: Sets PlayTime until WorldChat can be used
#        Default:     300 - (seconds)
#                     0   - (disabled)
#

WorldChat.PlayTimeToChat = 300

#
#    WorldChat.Profanity.Block
#        Description: Player Security Level (Rank) to block profanities. Also supports custom levels.
#        Default:     0  - (Players)
#                     1  - (Players + Moderators)
#                     2  - (Players + Moderators + GMs)
#                     3  - (Players + Moderators + GMs + Admins)
#                     -1 - (Disabled)
#

WorldChat.Profanity.Block = 0

#
#    WorldChat.Profanity.MuteTime
#        Description: MuteTime when player uses profanities or banned phrases
#        Default:     30  - (seconds)
#                     0   - (disabled)
#

WorldChat.Profanity.MuteTime = 30

#
#    WorldChat.Profanity.Blacklist
#        Description: Blacklisted phrases separated by Semicolons (;)
#           Example:  "hello;bye;see you;"
#        Default:     "" (Disabled)
#

WorldChat.Profanity.Blacklist = ""

#
#    WorldChat.URL.Block (EXPERIMENTAL)
#        Description: Player Security Level (Rank) to block URLs. Also supports custom levels.
#        Default:     0 - (Players)
#                     1 - (Players + Moderators)
#                     2 - (Players + Moderators + GMs)
#                     3 - (Players + Moderators + GMs + Admins)
#                    -1 - (Disabled)
#

WorldChat.URL.Block = 0

#
#    WorldChat.URL.MuteTime
#        Description: MuteTime when player posts URL. GMs will not get muted.
#        Default:     120 - (seconds)
#                     0   - (Only disallow)
#

WorldChat.URL.MuteTime = 120

#
#    WorldChat.URL.Whitelist
#        Description: Whitelisted Domains separated by Semicolons (;)
#            Example: (azerothcore.org;wowhead.com)
#        Default:     ""
#

WorldChat.URL.Whitelist = ""

#
#    WorldChat.CoolDown
#        Description: Time until a new message can be sent in WorldChat
#        Default:     2 - (seconds)
#                     0 - (disabled)
#

WorldChat.CoolDown = 2

#
#    WorldChat.JoinChannelAllowed
#        Description: Enables /join for WorldChat
#        Default:     0	- (Disabled)
#                     1	- (Enabled)
#

WorldChat.JoinChannelAllowed = 0

#
###################################################################################################